.fullPage{
    width: 100%;
    height: 960px; 
    /* border: 1px solid black;  */
}
.beginning{
    width: 100%;
    height: 60px;
    /* outline: 1px solid black; */
}
.center>{
    width: 100%;
    height: 400px;
    /* border: 1px solid black; */
    justify-content: center;
    /* display: inline-block; */
    /* float: left;  */
} 
.center>div{
    width: 27%;
    height: 300px;
    margin-left: 35px;
    margin-right: 20px;
    /* border: 1px solid black; */
    display: inline-block;
    vertical-align: top;
    margin-top: 150px; 
    margin-bottom: 200px;
    background-color: white;
    box-shadow: 8px 10px 10px rgba(0, 0, 0, 0.25);
    text-align: center; 
}
.ending{
    width: 100%;
    height: 500px; 
    /* border: 1px solid black; */
}


.category1pic{
    width: 70%;
    height: 60%;
    
}
.category2pic{
    width: 60%;
    height: 60%;
    
}
.category3pic{
    width: 60%;
    height: 60%;
}
.categoryName{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 18px;
    color: #000000;
    text-align: center;
    padding-top: 10px;
}  
.explore{
    font-family: Roboto;
    font-size: 20px;
    color: #358FB6;
    text-align: center;
    margin-top: 45px;
}


