/* button{
    background-color: rgb(219, 46, 46);
    border-radius: 15px;
    border: 5px solid blue; 
    color: rgb(207, 20, 20);
}  */
.search{
    border-radius: 10px;
    background-color: rgba(238, 240, 247, 0.7);
    position: relative;
    left: 120px;
    width: 300px;
    height: 40px;
}
.signUp{
   border: 1px solod rgb(38, 163, 216);
   background-color: white;
   border-radius: 10px;
   width: 110px;
}
/* customBar{
    color: rgba(53, 143, 182, 0.38);
} */
/* .body{
    background-color: white;
} */