.search{
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    position: relative;
    left: 110px;
    width: 300px;
    height: 40px;
}

.signUp{
   border: 1px solod rgb(38, 163, 216);
   background-color: white;
   border-radius: 10px;
   width: 110px;
}

.body{
    background-color: rgba(53, 143, 182, 0.38);
    height: 60px; 
    padding-top: 5px;
}
